@font-face {
    font-family:ppmori ;
    src: url("./ppmori-semibold.ttf");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}
html,body{
    height: 100%;
    width: 100%;
}
#purple{
    height: 100vh;
    width: 100vw;
    top: 0;
    position: fixed;
    z-index: 100;
    background-color: #EDBFFF;
    opacity: 0;
    display: none;
    transition: opacity ease 1s;
}
#purple marquee{
    width: 100vw;
    height: 90vh;
    /* background-color: orange; */
    color: #111;
    font-size: 350px;
    font-weight: 500;
    display: flex;
    align-items: center;
}
.cursor{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    position: fixed;
    background-color: #EDBFFF;
    z-index: 8;
    transition: background-image ease 0.5s;
    background-position: center;
    background-size: cover;
    mix-blend-mode: difference;
    transition: left linear 0.1s top linear 0.1s;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
#main{
    background-color: #0F0D0D;
    cursor:none;
}
#page1{
    min-height: 100vh;
    width: 100%;
    position: relative;
    z-index: 9; 
    padding-top: 11vw;
}
#nav{
    height: 70px;
    width: 100%;
    /* background-color: salmon; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    position: fixed;
    mix-blend-mode: difference;
    z-index: 102;
}
#nav img{
    height: 27px;
}
#navp1{
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:21px;
}
#navp2 #circle{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #fff;
}
#nav h4{
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
}
#nav h4:nth-child(1){
   border-bottom: 1.6px solid #fff;
}
#page1 h1{
    font-size: 7vw;
    font-family: ppmori;
   
    margin-left: 6vw;
}
#page1 h2{
    font-size: 7vw;
    font-family: ppmori;
    margin-left: 26vw;
}
#page1 video{
    width:60%;
    margin-top: 10vw;
    position: relative;
    left: 50%;
    transform: translate(-50%,0);
}

#page2{
    min-height: 80vh;
    width: 100%;
    padding: 100px 5vw;
    border-bottom: 2px solid rgb(184, 92, 82);
    position: relative;
    z-index: 9;
}
#page2 h1{
    font-size: 8vw;
    font-weight: 500;
    color: #111;
}
.page2-container{
    height: 60vh;
    width:100%;
    /* background-color: blue; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding:0 5vw; */
}
.page2-left{
    /* background-color: brown; */
    width:38%;

}
.page2-right{
    /* background-color: brown; */
    width:31%;

}
.page2-left h2{
    font-size: 3vw;
    font-weight: 300;
    color: #111;
    line-height: 4vw;
}
.page2-right p{
    font-size: 28px;
    color: #111;
}
.page2-right button{
    width: 100%;
    border-radius: 50px;
    border: none;
    background-color: #EDBFFF;
    color: #111;
    padding: 4px 0;
}
#page3{
    min-height: 100vh;
    width: 100%;
    padding-top: 100px;
    position: relative;
    z-index: 9;
}

#page3 h1{
    font-size: 6.7vw;
    font-weight: 300;
    color: #111;
    margin-left: 100px;
}
.page3-p1{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.page3-p1 img{
    height: 600xp;
    width:570px;
    margin-top: 160px;
    
}

#page4{
    min-height: 100vh;
    width: 100%;
    /* background-color: red; */
    z-index: 9; 
    position: relative;
    padding: 170px 100px;
}
.elem{
    /* background-color: salmon; */
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.elem img{
    position: absolute;
    opacity: 0;
    transition: all ease-out 0.5s;
    transform: translateY(10%) rotate(2deg); 
}
.elem img:nth-child(1){
    left: 2%;
}
.elem img:nth-child(3){
    right: 5%;
}
.text-div{
    /* background-color: aqua; */
    height: 16vh;
    position: relative;
    z-index: 9;
    overflow: hidden;
}
.elem h1{
    font-size: 7.5vw;
    font-weight: 600;
    transition: all ease-out 0.5s;
}
.elem:hover h1{
    transform:translateY(-100%);
    color: #EDBFFF;
}
.elem:hover img{
    opacity: 1;
    transform: translateY(0%) rotate(0deg);
}
#page5{
    min-height: 100vh;
    width: 100%;
    /* background-color: darkolivegreen; */
    position: relative;
    z-index: 9;
    padding: 140px 100px;
}
#page5 h2{
    font-size: 2vw;
    text-transform: uppercase;
    font-weight: 300;
}
.box{
    /* background-color: blue; */
    display: flex;
    align-items: center;   
    justify-content: space-between;
    height: 64px;
    padding: 0 20px;
    border-top: 1.5px solid #dadada;
}
.box:nth-last-child(){
    border-bottom: 1.5px solid #dadada;
}